.titulo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
  gap: 0px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0;
  min-height: 100dvh; /* viewport real */
  max-width: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin-top: 2rem;
}

.imagem {
  align-items: center;
}

.imagem {
  width: 150px;
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
  color: white;
  background-color: #45a049;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 5px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

.botao-verificar {
  background-color: #008000;
}

.botao-verificar:hover {
  background-color: #45a049;
}

.botao-verificar:disabled {
  background-color: gray;
}

.botao-jogar-novamente {
  background-color:#1976d2;
}

.botao-jogar-novamente:hover {
  background-color:#2196f3;
  
}

.mensagem-erro {
  background-color: #f44336;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  max-width: 80%;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.shake {
  animation: shake 0.3s ease;
}

@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-8px); }
  40% { transform: translateX(8px); }
  60% { transform: translateX(-8px); }
  80% { transform: translateX(8px); }
  100% { transform: translateX(0); }
}